<?xml version='1.0' encoding='utf-8'?>
<widget id="org.letschat.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>vue-chat-mobile</name>
    <description>first chat App</description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-splashscreen" source="npm" />
    <splash src="https://github.com/sen-sourabh/vue-chat-mobile/blob/master/public%2FLetsChat-Logo.png" />
    <preference name="SplashScreenDelay" value="6000" />
    <access origin="*" />
    <allow-intent href="http://192.168.0.10:8080/#/" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <allow-navigation href="about:*" />
</widget>
